@import "tailwindcss";

@theme {
  --color-blanc-casse: oklch(95.81% 0 0);
  --color-violet: oklch(35.03% 0.1092 310.23);
  --color-custom-rose: oklch(65.31% 0.1681 4.09);
  --color-custom-yellow: oklch(82.98% 0.1541 96.1);
}

.header-links {
  @apply font-bold text-xl text-violet hover:text-custom-rose hover:cursor-pointer;
}

.label {
  @apply text-slate-800 font-medium text-xl after:ml-1 after:text-red-500 after:content-['*'];
}

.form-style {
  @apply flex flex-col my-4;

  .input {
    @apply bg-blanc-casse rounded-sm h-10 px-4 drop-shadow-[1px_4px_2px_lightgray];
  }
}
